<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/convert">
        <input name="userInputString" type="text" placeholder="Enter text">
        <input type="submit">
    </form>
    {{#SHA}}
        <h2>{{SHA}}</h2>
    {{/SHA}}
    <div>
        <a href="/">Main page</a>
    </div>
</body>
</html>