<!doctype html>
<html lang="en">
<head>
    <title>Your history</title>
</head>
<body>
{{#history}}
    <div>
    <h2>id: {{id}}   site: {{action}}   time: {{time}}</h2>
    </div>

{{/history}}
<div>
    <a href="/">Main page</a>
</div>
</body>
</html>
